.login-form {
    display: flex;
    margin-top: 50px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    overflow: hidden;
}

.login-form div:nth-child(1),
.login-form div:nth-child(2) {
    width: 50%;
}

.login-form div:nth-child(1) {
    padding: 50px;
}

.login-hero-section {
    background-color: var(--accent-color);
}

.login-form h2 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: var(--font-semi-bold);
}

.login-form-message {
    font-size: 18px;
}

.login-form-message span {
    cursor: pointer;
    font-weight: var(--font-semi-bold);
}

.login-form-message span:hover,
.login-form-message span:focus {
    text-decoration: underline;
}

.login-form-groups {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;
}

.login-form-error {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ffcccc;
    border: 1px solid #ff0033;
    border-radius: 4px;
}

.login-form-groups div:nth-child(1),
.login-form-groups div:nth-child(2) {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.login-form-groups label {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: var(--font-semi-bold);
}

.login-form-groups input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form-groups input:focus {
    outline-color: var(--accent-color);
}

.login-form-groups input::placeholder {
    opacity: .5;
}

.login-form-groups .btn-cta--emphasis {
    cursor: pointer;
    align-self: flex-start;
    margin-top: 20px;
    padding: 12px 55px;
    border: 2px solid var(--accent-color);
}